img {
  display: block;
  margin: auto;
}
header {
  /*background: linear-gradient(to top, #fafaf9, #f5f5f4, #e7e5e4);*/
  padding: 3%;
  margin-bottom: 5%;
}

body {
  background: linear-gradient(to top, #e5e5e5, #d4d4d4);
  padding: 0%;
  margin: 0;
  border: 0;
  
}

footer {
  background: linear-gradient(to bottom, #f97316, #ea580c);
  display: block;
  margin-top: 5%;
  margin-bottom: 10%;
  text-align: center;
  padding: 2%;
}

div {
  margin: 0 auto;
  text-align: center, justify;
  width: 75%;
  padding: 4%;
}
h1 {
  text-align: right, justify;
  padding-right: 2%;
  margin-left: 13%;
  
}
html {
  font-family: Arial, Helvetica, sans-serif;
}
div.imgfundo {
  width: 470px;
  height: 450px;
  background-color:#d4d4d4;
  display: flex;
  align-items: center;/*Serve para colocar o textyo non centro*/
  justify-content: center;
  border-radius: 15px;/*Servw para colocar uma borda arredondada*/
  box-shadow: 1px 1px 5px 0px gray; /*Serve para colocar uma borda sombreada*/
  backdrop-filter:blur(200px);/*Serve para colcoar um blur na div*/
}
/*Configuração para dispositivos móveis
@media(min-whidth:360px) and (max-width:800px){
}
*/
button{
  padding: 8px 20px;
  border-Radius:15px;
  background-color:#ea580c ;
  color:white; /*cor da letra de dentro do botão*/
  font-weight:bold;
  border:none;
  transition: 0.5s ease;
 /*Serve para dar um espaçamento entre os campos*/
}

.negrito{
  font-weight: bold;/*Serve para colocar as letras em negrito*/
}

.input-padrao{
  border:none;
  padding: 8px 20px;
  border-Radius:15px;
  background-color:#ea580c;
  color:#fafafa; /*cor da letra de dentro do botão*/
  transition: 0.5s ease;/*Tempo de cada transição ao passar o mouse em cima do botão*/
}
/*Serve para fazer a transição da cor do botão do larakja escuro para o laranja claro*/
.input-padrao:hover{background:#f97316;}
button:hover{background:#f97316;}
/*Serve para mudar a cor da letra dentro do placeholder*/
.input-padrao::placeholder{
  color:#fafafa;
}

